/* - IMG - */ /* - IMG - */ /* - IMG - */ /* - IMG - */ /* - IMG - */ /* - IMG - */ /* - IMG - */

#burgermenu {
  width: 30px;
  margin: auto;
}

#resume_profile_img {
  display: none;
}

/* - Fonts - */ /* - Fonts - */ /* - Fonts - */ /* - Fonts - */ /* - Fonts - */ /* - Fonts - */

#Resume_Fonts {
  display: inline;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* - Lists - */ /* - Lists - */ /* - Lists - */ /* - Lists - */ /* - Lists - */ /* - Lists - */

.Resume_ul {
  margin-block-end: 0.67em;
}

#Resume_contact_ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#Resume_content_ul {
  padding-inline-start: 1em;
}

/* - Divs - */ /* - Divs - */ /* - Divs - */ /* - Divs - */ /* - Divs - */ /* - Divs - */

body {
  min-height: 100vh;
  max-width: 100vw;
}

.container_borders {
  border-style: solid;
  border-width: 0 2px 2px 1px;
  border-radius: 5px;
  border-color: rgb(155, 155, 155);
  box-shadow: 2px 2px rgb(155, 155, 155);
}

.container_linear_bg {
  background: linear-gradient(to bottom right, white 30%, rgb(200, 200, 200));
}

.container_buttons {
  background: linear-gradient(
    180deg,
    rgb(200, 200, 200),
    white 80%,
    rgb(200, 200, 200)
  );
}

.container_buttons:active {
  transform: translate(2px, 2px);
  border-color: rgb(0, 255, 255);
  box-shadow: 3px 3px rgb(88, 220, 220);
}

#container_dropdown_button {
  box-sizing: border-box;
  width: 100%;
  margin: 5px auto;
}

.container_menu_buttons {
  position: relative;
  width: 25%;
  margin: 50px auto;
  text-align: center;
  padding: 1em;
}

#container_menu_wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

#container_menu_list {
  box-sizing: border-box;
  position: relative;
  display: grid;
  margin: 5px auto;
  padding: 10px;
  gap: 5px;
}

.menu_initial {
  display: none;
}

.menu_toggle {
  display: block;
}

#wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.wrapper-init {
  display: block;
}

.wrapper_toggle {
  display: none;
}

.container_resume {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  text-align: justify;
}

/* - Media Screen - */ /* - Media Screen - */ /* - Media Screen - */ /* - Media Screen - */

@media only screen and (min-width: 800px) {
  #Resume_content_ul {
    padding-inline-start: 1em;
  }

  #name {
    float: left;
    clear: left;
  }

  #Resume_contact_ul {
    float: left;
    clear: left;
  }

  #resume_profile_img {
    display: block;
    float: right;
    width: 150px;
  }

  #wrapper {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
  }

  .wrapper-init {
    display: grid;
  }

  .wrapper_toggle {
    display: none;
  }

  #container-contact {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #container-skills {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #container-education {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  #container-projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #container-experience {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  button {
    cursor: pointer;
  }

  .container_buttons:hover {
    transform: translate(-2px, -2px);
    border-color: rgb(80, 255, 255);
    box-shadow: 3px 3px rgb(80, 200, 255);
  }
  .container_buttons:active {
    transform: translate(0px, 0px);
    border-color: rgb(80, 255, 255);
    box-shadow: 3px 3px rgb(80, 255, 255);
  }
}
/* - Media print - */ /* - Media print - */ /* - Media print - */ /* - Media print - */

@media print {
  #container_dropdown_button {
    display: none;
  }

  #container_menu_wrapper {
    display: none;
  }

  #wrapper {
    display: block;
  }

  .container_resume {
    page-break-inside: avoid;
  }
}
