:root {
  --color-primary: rgb(54, 69, 79);
  --color-secondary: rgb(155, 155, 155);
  --color-accent: rgba(0, 255, 255, 0.75);
  --color-translucent: rgb(255, 255, 255, 0.75);
  --color-translucent-accent: rgb(255, 255, 255, 0.85);
  --color-shadow: rgb(0 0 0 / 25%);
  --color-pop: fuchsia;
  --color-pop-shadow: darkviolet;
}

body {
  max-width: 100vw;
  text-rendering: optimizeSpeed;
  line-height: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-primary);
  overflow: hidden scroll;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.bg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1205%26quot%3b)' fill='none'%3e%3crect width='1280' height='720' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1206%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1106.769556916566 459.35916109998726L1137.463697975197 582.4666368292039 1306.7778410397066 474.87168737664916z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M690.7143769935823 599.5160584128699L840.3180656727283 444.8920750212051 658.6510029813469 396.2145322817154z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M20.450888354001883 201.22678042468476L74.25066895868473 265.3428622410958 143.52490138095982 152.585150425866z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1273.7647365698901 210.4769831590717L1132.5826503293579 164.60414258426994 1227.8918959950884 351.65906939960405z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M178.91804672252488 495.6435314967098L184.97456001082432 322.2076829616224 5.482198187437518 489.5870182084103z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M371.61072052740644 362.2017903062309L233.4603715038765 275.69269360139043 226.0030967205441 417.98597306010504z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1011.1578456113592 119.11067507295797L949.3855919835837 55.14363389023697 884.32115702339 179.78553492326068z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1178.4094792445826 602.3017547373422L1099.3323931187936 655.639922816269 1218.8781883000781 747.586467965489z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M637.2862401109778 153.74094133112186L546.6740983532718 2.937012951935287 486.48231173179124 244.35308308882782z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M995.2228934601742 495.8067332696057L1086.1614485540829 271.34204731956913 876.0305566561692 297.1428766133902z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M315.7538638927534 137.0498511835738L391.2130961259095 285.1469331017188 463.85094581089834 61.59061895041769z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1126.1297375247586 456.7191490979021L1170.6428633792818 666.1369412600951 1335.5475296869517 412.2060232433789z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M60.915038112438424 63.2388472119721L197.13935877079507 115.53046460984712 113.20665551031342-72.98547344638455z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M184.41873548298582 601.2574880529121L64.73910777329858 800.0085417217032 267.42230205733637 807.0863948291473z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1278.9219303617415 443.8228812670786L1071.056107479091 454.5180326362584 1167.4737422962876 608.8185028426885z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M397.55465682535976 85.98127278120994L584.578927511609 66.50441893512759 490.2985752246855-68.14187825838633z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1241.1328463103189 414.57119434991193L1241.1328463103189 304.6728735349099 1131.2345254953168 414.57119434991193z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M595.471885400902 840.6101666823483L628.4223754184537 632.5689604247459 387.4306791432996 807.6596766647966z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M609.610034508573 718.4935243837937L812.5240123002035 725.5794366289089 616.6959467536882 515.5795465921632z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M251.16573555972602 57.4990235270016L66.60925131014815-36.537202067376015 157.1295099653484 242.05550777657947z' fill='rgba(0%2c 0%2c 0%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1205'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='-19.44%25' x2='10.94%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1206'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-rows: 50px auto 50px;
  row-gap: 15px;
  min-height: 100vh;
  max-width: 100%;
}

.main {
  margin: auto;
  width: 98%;
  height: 100%;
}

.container-borders {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-accent);
}

.container-bg {
  background-color: var(--color-translucent);
}

.container-structure {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1vh 1vw;
}

.buttons-effect {
  box-shadow: 2px 2px var(--color-shadow);
  transition: all 0.15s;
}

.buttons-effect:active {
  transform: translate(0px, 2px);
  box-shadow: 0px 0px var(--color-shadow);
}

.display-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-rows: 10vh auto 10vh;
    row-gap: 5vh;
  }

  .main {
    width: 80%;
  }

  .container-structure {
    padding: 2vh 2vw;
  }

  .container-borders {
    border-style: solid;
    border-color: var(--color-accent);
    border-width: 2px;
  }

  .buttons-effect {
    box-shadow: none;
    transition: all 0.15s;
  }

  .buttons-effect:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-shadow);
  }

  .buttons-effect:active {
    transform: translate(0px, 0px);
  }

  .display-none {
    display: initial;
  }
}
