/* index */ /* index */ /* index */ /* index */ /* index */

.index__profile-picture__img {
  display: block;
  margin: auto;
  border-radius: 5%;
  height: 317px;
  width: 284px;
}

.card__grid {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card {
  margin: auto;
}

.card__header {
  display: grid;
}

.card__logo {
  margin: auto;
}

.card__ul {
  list-style: none;
  padding: 0.1rem;
  margin: auto;
  white-space: nowrap;
}

.card__li {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main p {
    margin: 3em;
    margin-inline-start: 5em;
    margin-inline-end: 5em;
  }

  .card__grid {
    flex-direction: row;
  }
}

/* index */
