/* Resume */ /* Resume */ /* Resume */ /* Resume */ /* Resume */

.resume_link {
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
}

.resume {
  display: grid;
  gap: 0.25vw;
}

.resume-ul {
  padding-inline-start: 1.25em;
  margin-block-start: 0.25em;
  margin-block-end: 0.75em;
  list-style-position: inside;
}

.contact-ul {
  align-self: end;
}

#container-intro {
  display: none;
}

#container-intro .resume-ul {
  list-style-type: none;
  padding-inline-start: 0;
}

@media screen and (min-width: 768px) {
  #container-skills {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #container-projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  #container-education {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #container-experience {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}

/* Resume */
