:root {
  --color-primary: rgb(50, 50, 50);
  --color-secondary: rgb(155, 155, 155);
  --color-accent: rgb(255, 255, 255);
  --color-translucent: rgb(255, 255, 255, 0.75);
  --color-shadow: rgb(0 0 0 / 25%);
}

body {
  min-height: 100vh;
  max-width: 100vw;
  line-height: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--color-primary);
}

button {
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
}

.bg {
  background-image: url(../content/bg.svg);
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  display: grid;
  gap: 2vh;
  grid-template-rows: 5vh auto 10vh;
  min-height: 100vh;
  padding: 1vh 1vw;
}

.display-none {
  display: none;
}

.container-borders {
  border-style: solid;
  border-width: 0 2px 2px 1px;
  border-radius: 5px;
  border-color: var(--color-translucent);
}

.container-bg {
  background: var(--color-translucent);
}

.container-structure {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 1vh 1vw;
}

.buttons-effect {
  box-shadow: 0px 0px var(--color-shadow),
    inset 2px 2px 2px var(--color-translucent),
    inset -2px -2px 2px var(--color-shadow);
  transition: all 0.3s;
}

.buttons-effect:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px var(--color-shadow),
    inset -2px -2px 2px var(--color-shadow);
}

@media only screen and (pointer: fine) and (orientation: landscape) {
  .display-none {
    display: none;
  }

  .container-borders {
    border-style: solid;
    border-width: 0 1px 1px 0px;
    border-radius: 5px;
    border-color: var(--color-translucent);
    box-shadow: inset 1px 1px var(--color-translucent),
      inset -2px -2px 2px var(--color-shadow);
  }

  .buttons-effect {
    box-shadow: 0px 0px var(--color-shadow),
      inset 2px 2px 2px var(--color-translucent),
      inset -2px -2px 2px var(--color-shadow);
    transition: all 0.3s;
  }

  .buttons-effect:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px var(--color-shadow),
      inset -2px -2px 2px var(--color-shadow);
  }
  .buttons-effect:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px var(--color-shadow),
      inset -2px -2px 2px var(--color-shadow);
  }
}

/* Typography*/ /* Typography*/ /* Typography*/ /* Typography*/ /* Typography*/

h1,
h2,
h3 {
  text-shadow: 1px 1px var(--color-shadow);
}

.resume-ul h3,
.resume-address-ul h3 {
  display: inline;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-style: italic;
  vertical-align: bottom;
}

a:active {
  color: var(--color-accent);
}

.resume__wrapper p {
  padding-inline-start: 2em;
  padding-inline-end: 2em;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

@media only screen and (pointer: fine) and (min-width: 768px) {
  h1,
  h2 {
    text-align: left;
  }
}

/* Typography*/ /* Typography*/ /* Typography*/

/* header */ /* header */ /* header */ /* header */ /* header */

header {
  align-self: flex-start;
}

.menu {
  display: grid;
}

.menu__links {
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 1em;
}

#dropdown-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: auto;
  height: 5vh;
}

.dropdown-button_burger {
  margin: auto;
  vertical-align: top;
}

@media only screen and (pointer: fine) and (orientation: landscape) {
}

/* header */ /* header */ /* header */

/* Footer */ /* Footer */ /* Footer */ /* Footer */ /* Footer */

.footer__nav-bar {
  display: flex;
}

.footer_button {
  min-width: 5vw;
  margin: auto;
  border: none;
}

/* Footer */ /* Footer */ /* Footer */

/* index */ /* index */ /* index */

.index_grid {
  display: flex;
  margin: auto;
}

.card {
  margin: auto;
}

.card_header {
  display: grid;
}
.card_logo {
  margin: auto;
}

.card_ul {
  list-style: none;
  padding: 0.1rem;
  margin: auto;
  white-space: nowrap;
}

.card_li {
  text-align: center;
}

.profile-img {
  display: block;
  margin: auto;
}

/* index */ /* index */ /* index */ /* index */ /* index */ /* index */ /* index */

/* Form */ /* Form */ /* Form */ /* Form */ /* Form */
textarea {
  resize: none;
}

input[type="text"],
input[type="email"],
#message {
  display: block;
  margin: 0.25rem;
  padding: 0.25rem;
  border: 1px solid var(--color-shadow);
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
}

input[type="checkbox"] {
  margin: auto;
  vertical-align: bottom;
}

.contact__form {
  display: grid;
  grid-template-columns: auto auto auto;
}

.form-button {
  padding: 0.25rem;
  grid-column-start: 2;
  grid-column-end: 3;
}

#contact-form-label {
  margin: 0.25rem;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media only screen and (pointer: fine) and (orientation: landscape) {
}
/* Form */ /* Form */ /* Form */

/* Resume */ /* Resume */ /* Resume */ /* Resume */ /* Resume */

.resume_wrapper {
  display: grid;
  gap: 0.5vh 0.5vw;
}
.resume-address-ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0.25em;
  margin-block-end: 0.75em;
}

.resume-ul {
  padding-inline-start: 0.25em;
  margin-block-start: 0.25em;
  margin-block-end: 0.75em;
  list-style-position: inside;
}

#resume-profile-img {
  display: none;
}

@media only screen and (pointer: fine) and (orientation: landscape) {
  .container-name {
    grid-column: 1;
    grid-row: 1;
  }

  .resume-ul {
    padding-inline-start: 1em;
    list-style-position: outside;
  }

  .resume-address-ul {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-end;
  }

  #container-contact {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #resume-profile-img {
    display: block;
    justify-self: end;
    align-self: center;
    grid-column: 2;
    grid-row: 1/3;
    width: 168px;
  }

  #container-skills {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #container-education {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  #container-projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #container-experience {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}
/* Resume */ /* Resume */ /* Resume */

@media print {
  .wrapper,
  .resume_wrapper {
    display: block;
    margin: auto;
    padding: 0;
  }

  header,
  footer,
  .menu {
    display: none;
  }

  .container-structure {
    page-break-inside: avoid;
  }

  .container-borders {
    border-color: rgba(132, 132, 132);
  }
}
