/* Typography */ /* Typography */ /* Typography */ /* Typography */ /* Typography */

h1,
h2,
h3 {
	text-shadow: 1px 1px var(--color-shadow);
}

.main h1,
.card__header h2 {
	text-align: center;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

.menu a {
	font-size: larger;
}

.main p {
	margin-inline-start: 2em;
	margin-inline-end: 2em;
	text-align: center;
}



.resume-ul h3,
.resume_address-ul h3 {
	display: inline;
	margin-inline-end: 0.67em;
}

.resume-ul a {
	font-style: italic;
}

/* Typography */