#wrapper-game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wrapper-game:hover {
  cursor: default;
}

.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
}

canvas {
  max-width: 98%;
  max-height: 98%;
  object-fit: contain;
  background-color: transparent;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: whitesmoke;
  z-index: 2;
}

.overlay-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.overlay button:hover {
  cursor: pointer;
}

.overlay button,
.overlay-item {
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
}

.overlay-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  font-size: 3rem;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#menu button {
  border: 0;
  height: 100px;
  background-color: transparent;
  border-radius: 5px;
  color: transparent;
  font-size: xx-large;
  -webkit-text-stroke: 1px red;
  text-shadow: 0px 5px 8px red;
  margin: auto;
}

#arrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translate(0, -50%);
}

.arrow {
  display: flex;
  flex-direction: column;
}

#result {
  width: 50%;
  text-align: center;
  -webkit-text-stroke: 1px red;
  text-shadow: 4px 5px 8px red;
  font-size: xx-large;
  color: transparent;
}

#title {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  color: transparent;
}

#instruction {
  font-size: initial;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  bottom: 100%;
}

#progress {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 25%;
  height: 5%;
  width: 50%;
}

.progress-bar {
  visibility: hidden;
  width: 0%;
  animation: progressAnimation 4s;
  animation-timing-function: ease-in-out;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0);
  border: 1px inset red;
  box-shadow: 0 0, 2px 5px rgba(255, 0, 0, 0.5);
}

/* utility classes */

.hidden {
  visibility: hidden;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.zoom-loop:hover {
  animation-iteration-count: 1;
  animation-name: zoom-out;
}

.bg-dark-night {
  background-color: rgba(0, 0, 5);
}

.zoom-loop {
  animation: zoom-loop 0.5s ease-in-out none infinite alternate;
}

.deprecated {
  animation: deprecated 1s ease-out 1s 2 alternate;
}

.glitter {
  animation: glitter 0.5s ease-out;
}

.scared {
  color: rgba(64, 224, 208, 0.75);
}

.backdrop-darken {
  backdrop-filter: brightness(0.25);
}

@keyframes zoom-loop {
  0% {
    scale: 1;
  }
  100% {
    color: rgba(255, 0, 0, 0.5);
    scale: 1.2;
    text-shadow: 0px 2px 15px red;
  }
}
@keyframes zoom-out {
  0% {
    color: rgba(255, 0, 0, 0.5);
    scale: 1.2;
    text-shadow: 0px 2px 15px red;
  }
}
@keyframes glitter {
  0% {
    -webkit-text-stroke: 1px rgba(255, 255, 255);
    text-shadow: 0px 5px 8px whitesmoke;
  }
}
@keyframes deprecated {
  0% {
    -webkit-text-stroke: 1px red;
    text-shadow: 4px 5px 8px red;
  }
  5% {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 4px 5px 8px rgb(0, 0, 0);
  }
  30% {
    -webkit-text-stroke: 1px red;
    text-shadow: 4px 5px 8px red;
  }
  35% {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 4px 5px 8px rgb(0, 0, 0);
  }
  40% {
    -webkit-text-stroke: 1px red;
    text-shadow: 4px 5px 8px red;
  }
  45% {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 4px 5px 8px rgb(0, 0, 0);
  }
  50% {
    -webkit-text-stroke: 1px red;
    text-shadow: 4px 5px 8px red;
  }
  55% {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 4px 5px 8px rgb(0, 0, 0);
  }
  99% {
    -webkit-text-stroke: 1px red;
    text-shadow: 4px 5px 8px red;
    color: rgba(255, 0, 0, 0.5);
  }
  100% {
    color: rgba(255, 0, 0, 0.5);
  }
}
@keyframes progressAnimation {
  100% {
    visibility: visible;
    width: 100%;
  }
}
